# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may want to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xcconfig
**/ios/**/*.xcworkspace
**/ios/**/*Lock.json
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.modulemap
**/ios/**/Flutter/GeneratedPluginRegistrant.*
**/ios/**/flutter/Flutter.framework
**/ios/**/flutter/Flutter.podspec
**/ios/**/flutter_export_environment.sh
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Android/kotlin
**/android/**/GeneratedPluginRegistrant.java
**/android/**/.gradle/
**/android/**/.idea/
**/android/**/local.properties
**/android/**/plugin_gradle.xml

# Coverage
coverage/

# Exception related files.
*.dart_code_metrics
